[submodule "utils"]
	path = utils
	url = https://github.com/spamjsorg/utils.git
[submodule "webutils"]
	path = webutils
	url = https://github.com/spamjsorg/mangolite.git
[submodule "sample_web"]
	path = sample_web
	url = https://github.com/spamjsorg/sample_web.git
