[submodule "utils"]
	path = utils
	url = https://gitlab.com/mangolite/utils.git
[submodule "webutils"]
	path = webutils
	url = https://gitlab.com/mangolite/webutils.git
[submodule "sample_web"]
	path = sample_web
	url = https://gitlab.com/mangolite/sample_web.git
